* {
    box-sizing: border-box;
}

.section {
    width: 100%;
    border: 1px solid black;

}

.parent {
    height: 100%;
    width: 100%;
    padding: 330px;
    position: relative;
    transform-style: preserve-3d;
    position: relative;

}

.child {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;

}

.block-1 {
    background-color: darkblue;
    transform-style: preserve-3d;
}

.block-2 {
    background-color: deeppink;
    transform-style: preserve-3d;

}

.animate {
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: center;


}

.rotate {
    animation-name: rotate;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.rotate_reverse {
    animation-name: rotate_reverse;
}

@keyframes rotate_reverse {
    from {
        transform: rotateZ(360deg) translateZ(-70px) rotateY(180deg);

    }
    to {
        transform: rotateZ(0deg) translateZ(-70px) rotateY(180deg);

    }
}

.rotate_z {
    animation-name: rotate_z;
}

@keyframes rotate_z {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.block-1::before, .block-2::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left:0;
    top: 0;
    transform: translateZ(-1px);
}












